.header {
    position: relative;
    min-height: 100vh ;
    background: url('../images/heading-bg.jpg') no-repeat;
    background-size: cover;
}
.header__wrapper{
    width: 100%;
    position: absolute;
    right: 80px;
}
.header__one {
    width: 99.5%;
    height: 80px;
    background-color: #F193BD;
    border-bottom-right-radius: 10px;
}
.header__two {
    width: 99.4%;
    background-color: #E86DA6;
    height: 70px;
    border-bottom-right-radius: 10px;
}
.header__three {
    width: 99.3%;
    background-color: #D9328A;
    height: 60px;
    border-bottom-right-radius: 10px;
}
.header__inner{
    height: 60px;
}
.header__inner,
.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list {
    gap: 6rem;
}
.menu__list li a{
    font-size: 16px;
    font-weight: 500;
}
.header-btn {
    padding-left: 15px;
    position: relative;
    width: 130px;
    height: 30px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border: 2px solid #f193bd;
    border-left: none;
}
.header-btn::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    top: 2px;
    left: 0;
    background: url('../images/svazatcia.svg') no-repeat;
}
.header__language {
    display: flex;
    gap: 2rem;
    font-size: 16px;
}
.header__language-link {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}
.header__language-link--active {
    font-weight: 700;
    color: #fff;
}
.header-heading__box {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.header-heading__box-img {
    margin-bottom: 2rem;
   
}
.header-heading__box-text {
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: 700;
}
.header-heading__box-title {
    margin-bottom: 8rem;
    font-size: 3.6rem;
    font-weight: 300;
}
.header-heading__box-btn {
    padding: 0;
    width: 250px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #fff;
}
.header-heading__arrow {
    display: block;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    margin: 0 auto;
}